<% for (var filename in files) { %>
	<div class="content-container">
		<h2><%= files[filename].title %></h2>
		<p>By <%= files[filename].author %></p>
		<p>Posted <%- new Date(files[filename].timestamp).toDateString() %></p>

		<%- br(1) %>

		<blockquote style="font-style:italic"><%= files[filename].preview%></blockquote>

		<%- br(1) %>

		<p style="font-style:oblique"><a href=<%= files[filename].postname %>>Read more...</a></p>
	</div>
	<%- br(3) %>
<% } %>