<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body id="background">
  	<!-- Begin navbar -->
  	<% include partials/template/header.ejs %>
  	<!-- End navbar -->

  	<!-- Begin content -->
  	<div class="container">
      <%- br(5) %>
      <div class="content-container">
        <h1><%= file.title %></h1>
        <h3>By <%=file.author %></h3>
        <h3>Posted <%- new Date(file.timestamp).toDateString() %></h3>

        <%- br(3) %>

        <%- file.content %>
      </div>

  	</div><!-- End content -->
  	<% include partials/template/footer.ejs %>
  	<% include partials/template/jsdefaults.ejs %>
  </body>
</html>
