<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body id="background">
  	<!-- Begin navbar -->
  	<% include partials/template/header.ejs %>
  	<!-- End navbar -->

  	<!-- Begin content -->
  	<div class="container">
      <%- br(5) %>
      <div class="content-container">
        <h1><%= file.name %></h1>

        <%- br(2) %>

        <%- file.description %>

        <% for (member in file.members) { %>
          <h3><%= file.members[member].name %></h3>
          <p> <%= file.members[member].role %></p>
          <p><%- file.members[member].bio %></p>
          <p><a href="http://github.com/<%= file.members[member].github %>/">GitHub</a></p>
          <img src="<%= file.members[member].image %>" width="25%"/>
          <p><a href="<%= file.members[member].website %>">Website</a></p>
        <% } %>
      </div>

  	</div><!-- End content -->
  	<% include partials/template/footer.ejs %>
  	<% include partials/template/jsdefaults.ejs %>
  </body>
</html>
