<div class="content-container">
    <h1 style="position:relative;text-align:center">Teams</h1>
</div>

<%- br(3) %>

<div class="content-container">
    <h3>Table of Contents</h3>
    <ul style="font-size:24px;font-style:oblique">
        <% teamdata.forEach(function (item) { %>
            <li style="margin:6px">
                <a href="/teams/#<%= item.teamid %>">
                    <%= item.name %>
                </a>
            </li>
        <% }); %>
    </ul>
</div>

<%- br(5) %>

<% teamdata.forEach(function (item) { %>
    <div class="content-container" id="<%= item.teamid %>">
        <h3>
            <% if (item.link) { %>
                <a href="<%= item.link %>">
                    <%= item.name %>
                </a>
            <% } else { %>
                <%= item.name %>
            <% } %>
        </h3>

        <%- item.description %>

        <p>Members:</p>

        <ul>
            <% for (var member in item.members) { %>
                <li>
                    <p class="team-member">
                        <% if (item.members[member].website) { %>
                            <a href="<%= item.members[member].website %>">
                                <%= member %>
                            </a>
                        <% } else { %>
                            <%= member %>
                        <% } %>
                    </p>
                    <p class="role"><%= item.members[member].role %></p>
                </li>
            <% } %>
        </ul>
    </div>
    <%- br(3) %>
<% }); %>